*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin:3em 20em;
    padding:1em 3em;
    box-shadow: -7px -2px 16px 1px rgba(166, 139, 139, 0.81);
    background-color: white;
   
}
.btn{
    margin: auto 1em;
    padding: 0.5em;
    width: 8em;
    border: none;
    border-radius: 0.5em;
     color: white;
}
.btn1{
    background-color: teal;
   
}
.btn2{
    background-color: tomato;
}
.inputss{
    display: flex;
}
.inputss input{
    margin-right: 1em;
    padding: 2em;
   
}