* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}


.main{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: solid black 1px;
    padding: 3em 2em;
    margin-top: 10em;
    
}
