*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
input{
    width: 30%;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: none;
    border: solid black 1px;
}
input:focus{
    outline: none;
}
button{
    padding: 0.8em ;
    font-size: 12px;
    width: 30%;
    margin-top: 2em;
    border-radius: 2em;
    border: none;
    background-color: teal;
    color: white;
}
.card{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 14em;
}
h2{
    color: black;
    margin-bottom: 1em;
}
h4{
    margin-top: 1em;
}
.shake{
    color: red;
     animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 ;
}


@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }1

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
       
        transform: translateX(-8px);
    }
}

